pages:
  image: python:latest
  
  stage: deploy
  
  before_script:
    - pip install mkdocs mkdocs-material mkdocstrings-python

  script:
    - mkdocs build --strict --verbose
    - mv site public
  
  artifacts:
    paths:
      - public
  
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH